@(currentPage: com.avaje.ebean.Page[entities.Patient], filter: String , patientForm: Form[entities.Patient])
@import helper._
@import helper.Expertstrap._
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._


@main("Patient") {
<script>
	 function del(urlToDelete) {
		$.ajax({
		  url: urlToDelete,
		  type: 'DELETE',
		  success: function(results) {
			// Refresh the page
			location.reload();
		  }
		});
	  }
	</script>

@subjectPresentOr() {
    @defining(Application.getLocalUser(session())) { user =>
@if(user.isAdmin() == true){
@*Start of the Restricted Zone*@	   


			<!-- Widget block -->
              <div class="col-sm-3 col-xs-6">
                <a class="data-block widget-block" href="@routes.Patients.newPatient()">
                  <span class="widget-icon elusive icon-plus-sign"></span>
                  <strong>Add Patient</strong>
                </a>
              </div>
              <!-- /Widget block -->
              <br/><br/><br/><br/><br/>


	
              
<hr>

}}}{
	@* Don't need to show the rest of the users this.*@
}

	<h2>All Patients</h2>

	

	<table class="datatable table table-striped table-bordered table-hover">
		<thead>
		  <tr>
			<th>HTS</th>
			<th>Initials</th>
			<th>DOB</th>
			<th>Gender</th>
			<th>Assessment</th>
			<th>Counciling</th>
			<th>&nbsp;</th>
		  </tr>
		</thead>
		<tbody>
			@for(patient <- currentPage.getList()) {
				<tr>
					<td valign="middle">@patient.htsNumber</td>
					<td valign="middle"><a href="@routes.Patients.details(patient.idPatient)">@patient.initials</a></td>
					<td valign="middle">
					@patient.dob
					</td>
					<td valign="middle">
						@patient.gender
					</td>
					<td valign="middle">
					&nbsp;</td>
					<td>&nbsp;</td>
@subjectPresentOr() {
    @defining(Application.getLocalUser(session())) { user =>
@if(user.isAdmin() == true){
@*Start of the Restricted Zone*@	   
					<td>
						<a href="@routes.Patients.detailsToForm(patient.idPatient)"><i class="icon icon-pencil"></i>Edit</a> 
						
					</td>
}else{
	@*User Zone*@
					<td>&nbsp;
					</td>
											
					
}}}{
	@*Nobody zone*@	
	<td>&nbsp;
					</td>
}
				</tr>
			}
		</tbody>
   </table>

   
   
   <p/>

	<!-- Default aligned pagination -->
	<ul class="pager">
	@if(currentPage.hasPrev) {
		<li class="previous"><a href="@routes.Patients.list(currentPage.getPageIndex - 1, filter)">Prev</a></li>
	} else {
		<li class="previous disabled"><a href="#">Prev</a></li>
	}
		<li  class="active"><a href="#">@currentPage.getDisplayXtoYofZ(" - "," / ")</a></li>
	
	@if(currentPage.hasNext) {
		<li class="next"><a href="@routes.Patients.list(currentPage.getPageIndex + 1, filter)">Next</a></li>
	} else {
		<li class="next disabled"><a href="#">Next</a></li>
	}
	</ul>
	<!-- /Default aligned pagination -->
  



}

