@(elements: views.html.helper.FieldElements)
@import play.api.i18n._
@import views.html.helper._
@**************************************************
* Generate input according twitter bootsrap rules *
**************************************************@
<div class="clearfix @elements.args.get('_class) @if(elements.hasErrors) {error}" id="@elements.args.get('_id).getOrElse(elements.id + "_field")">
<div class="form-group" style="text-align:right" align="right">
	<label class="col-sm-2 control-label" for="@elements.id" >@elements.label(elements.lang)</label>
	<div class="col-sm-10">
		@elements.input
		
		<p class="help-block" style="text-align:left" align="left">
		<label class="control-label" for="@elements.id">
		<span class="help-inline" style="text-align:left" align="left">@elements.errors(elements.lang).mkString(", ")</span>
		<span class="help-block" style="text-align:left" align="left">@elements.infos(elements.lang).mkString(", ")</span></label>
		</p>
	</div>
</div>
</div>

