@(patientForm: Form[entities.Patient])
@import helper._
@import helper.Expertstrap._

@main("Patient") {
<script>
			$(document).ready(function(){
				
				// Tooltips
				$('[title]').tooltip();
				
			});

  // Using date picker from http://keith-wood.name/datepick.html
  $(function() {
    $("#dob" ).datepick({dateFormat: 'dd-mm-yyyy'});
  });

		</script>

	<form class="form-horizontal" role="form" 
	action="@routes.Patients.save()" method="post" enctype="multipart/form-data">

	<!-- Grid row -->
				<div class="row">

					<!-- Data block -->
					<article class="col-sm-12">
						<div class="gray data-block">
							<header>
								<h2>Patient (@patientForm("name").valueOr("Add Patient"))</h2>
							</header>
							<section>
							

	<input type="hidden" value="@patientForm("idPatient").valueOr("")" name="idPatient"/>



		<h3>Description</h3>
											
	@inputText(patientForm("initials"), 'class -> "form-control", 
		'_label -> "Patient Initials",
		'_help  -> "")
	@inputText(patientForm("htsNumber"), 'class -> "form-control", 
		'_label -> "HTS Number",
		'_help  -> "")	
	@*Move in the date picker from JCAD*@
	@inputText(patientForm("dob"), 'class -> "form-control", 
		'_label -> "DOB",
		'_help  -> "" )

	@inputText(patientForm("gender"), 'class -> "form-control", 
		'_label -> "Gender",
		'_help  -> "" )



		
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-8">
			
			<input type="submit" class="btn btn-primary" value="Save"> 
			<a class="btn" href="@routes.Patients.list(0)"><button class="btn btn-default" type="button">Cancel</button>
			</a>
		</div>
	</div>
	</form>
								


								
							</section>
						</div>
					</article>
					<!-- /Data block -->
				</div>


		
	
	</form>
}