
@main(Messages("playauthenticate.index.title")) {
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="row">
          <!--=== Big Buttons ===-->
          <div class="col-md-12">
            <div class="widget">
              <div class="widget-header">
                <h4>Actions</h4>
              </div>
              <div class="widget-content">
                <div class="row">
                <!-- Buttons -->
                <div class="col-md-3">
                    <a href="@routes.Patients.newPatient()" class="btn btn-icon input-block-level">
                      <i class="icon-group"></i>
                      <div>Add Participant</div>
                      <span class="label label-danger"><!--AddNotes--></span>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="@routes.Patients.list(0)" class="btn btn-icon input-block-level">
                      <i class="icon-group"></i>
                      <div>Find Participants</div>
                      <span class="label label-danger"><!--AddNotes--></span>
                    </a>
                </div>

                <!-- /buttons -->
                </div>
              </div>
            </div>
          </div>
      </div>
      

    }