@(patient: entities.Patient)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._


@main("Patient") {

	<script>
	 function del(urlToDelete) {
		$.ajax({
		  url: urlToDelete,
		  type: 'DELETE',
		  success: function(results) {
			// Refresh the page
			//alert("results: " + results);
			location.reload();
		  }
		});
	  }
	</script>


@subjectPresentOr() {
            @defining(Application.getLocalUser(session())) { user =>
            @if(user.isAdmin() == true){
            <br/>
               <a href="@routes.Patients.detailsToForm(patient.idPatient)">
				<button class="btn btn-success"><span class="elusive icon-pencil"></span> Edit Patient</button></a> 
				<!--a onclick="javascript:del('@routes.Patients.delete(patient.idPatient)')">
				<button class="btn btn-danger"><span class="elusive icon-trash"></span> Delete Patient</button>
				</a--> 
	
	<a href="@routes.Patients.list(0)" class="btn"><button class="btn btn-inverse"><span class="elusive icon-backwards"></span> Back</button> </a>
            }else{
@*Non Admins can add to cart*@
	<!-- Widget block -->
	<div class="col-sm-3 col-xs-6">
		<a class="data-block widget-block" href="#">
			<span class="widget-icon elusive icon-file-new-alt"></span>
			<strong>Add to order</strong>
		</a>
	</div>
	


			}
        
          }
        }{
        @* Non users? *@
        }


					<div class="row">

					<!-- Data block -->
					<article class="col-sm-12">
						<div class="gray data-block">
							<header>
								<h2>@patient.initials</h2>
							</header>
							<section>
							

							<div  class="form-group">
							<div  class="col-sm-2" align="right">
							Initials:
							</div>
								<div class="col-sm-10">
									@patient.initials
								</div>
							</div>
							<br/>
							<div  class="form-group">
							<div  class="col-sm-2" align="right">
							Date of Birth:
							</div>
								<div class="col-sm-10">
									@patient.dob
								</div>
							</div>			
								
							</section>
						</div>
					</article>
					<!-- /Data block -->
				</div>

	





	



}